{% include 'header.html' %}

<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Om sida</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>Car info: {{ car_info }} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ url_for('static',filename='img/leaf_256x256.png') }}" width="256">
        </div>
        <div class="col-md-4">
            <h4>Quiz: </h4>
            <form role="form" id="quiz" method="POST" action="{{ url_for('about') }}">
                <label for="quiz" class="form-label">How many wheels does a car have?</label>
                <input type="radio" name="wheels" value="3"><b> 3&nbsp;</b>
                <input type="radio" name="wheels" value="4"><b> 4&nbsp;</b>
                <input type="radio" name="wheels" value="5"><b> 5</b>
                <button type="submit" class="btn btn-success btn-md btn-block">Answer</button>
                <br>
                {% if alt == "4" %}
                    <p>Your answer is correct!</p>
                {% endif %}
            </form>
        </div>
        <div class="col-md-4">
            <h4>Add owner and services: </h4>
            <form role="form" id="owner" method="POST" action="{{ url_for('owner') }}">
                <div class="form-group">
                    <label for="firstname">Name: </label>
                    <input type="text" name="firstname" class="form-control" />
                    <label for="model">Model: </label>
                    <input type="text" name="model" class="form-control" />
                    <label for="price">Price: </label>
                    <input type="text" name="price" class="form-control" />
                    Insurance
                    <input type="checkbox" name="service" value="0">
                    Roadside assistance
                    <input type="checkbox" name="service" value="1">
                    <br>
                </div>
                <button type="submit" class="btn btn-info btn-block">Add</button>
            </form>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-1">
        <h4>Car information </h4>
        <p> Owners: {{ owners }} </p>
        <p> Services: {{ services }} </p>
    </div>
    <div class="row col-md-8 col-md-offset-1">
        <h4>From session and Json </h4>
        <p>Model: {{ car.model }} </p>
    </div>
</div>

{% include 'footer.html' %}
